name: build

on:
  push:
    branches: [ main, release, develop, feature/**, release/** ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up the Java JDK
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Cache Gradle packages
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Run Tests
      run: ./gradlew test -Dspring.profiles.active=cicd

    - name: Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: always()
      with:
        files: ./**/build/test-results/**/*.xml

    - name: Make Test Coverage
      run: ./gradlew jacocoTestReport

    - name: Jacoco reports (Test Coverage)
      uses: actions/upload-artifact@v2.3.1
      with:
        name: jacoco-reports
        path: ./**/build/reports/tests/test


