name: build

on:
  push:
    branches: [ main, release, develop, feature/**, release/** ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up the Java JDK
      uses: actions/setup-java@v2.4.0
      with:
        java-version: '15'
        distribution: 'adopt'

    - name: Build with Gradle
      uses: gradle/gradle-build-action@0d13054264b0bb894ded474f08ebb30921341cee
      with:
        arguments: build

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Run Tests
      run: ./gradlew test

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: always()
      with:
        files: build/test-results/**/*.xml

    - name: Make Test Coverage
      run: ./gradlew jacocoTestReport

    - name: Jacoco reports (Test Coverage)
      uses: actions/upload-artifact@v2.3.1
      with:
        name: jacoco-reports
        path: build/reports/tests/test


